html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.form-container{
  background-color: rgba(145, 145, 145, 0.61);
  max-width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.form{
  background-color: white;
}

.icon i{
  font-size: 30px;
  position: absolute;
  top: -20px;
  right: -10px;
  cursor: pointer;
}

#form1{
  display:none;
}

.card1,.card2,.card3,.card-header {
  transition: .2s ease;
}
.card1.active,.card2.active,.card3.active
{
  transform: scale(1.02);
}

.card1.active .card-header
{
  background-color: rgb(0, 76, 239);
  color: white;
}
.card2.active .card-header{
  background-color: rgb(0, 76, 239);
  color: white;
}
.card3.active .card-header{
  background-color: rgb(0, 76, 239);
  color: white;
}